# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.github/workflows/release.yml

# Virtual environments
.venv/
venv/
ENV/

# Rust
target/
**/*.rs.bk
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# pyo3
qnet_core*.so
qnet_core*.pyd
.qnet_core.opt.so
